$fg: #383838;
$bg: #f5f5f5;
$height: 1.2rem;

$red: #bd2929;
$green: #2dbd29;
$blue: #298bbc;


@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

html, body {
  margin: 0;
  font-family: "Roboto";
  background-color: $bg;
  color: $fg;
}

.container {
  display: flex;
}

.split {
  display: flex;
  flex: 1 1 auto;
  border: 2px solid black;
  height: calc(100vh - 4px);
  overflow-y: auto;
  max-width: calc(50vw - 2px);
}

.input {
  flex: 1 1 auto;
  align-self: center;
  text-align: center;
  
  input {
    text-align: left;
    border: none;
    font-size: calc(#{$height} + 2px);
    padding: 15px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-bottom: 15px;
  }
}

.noSubmit {
  margin-right: calc(#{$height} + 37px);
}

.sk-cube-grid {
  display: inline-block;
  width: calc(#{$height} + 37px);
  height: calc(#{$height} + 37px);
  vertical-align: top;
  position: relative;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);

  span {
    position: absolute;
    line-height: calc(#{$height} + 31px);
    width: 100%;
    left: 0;
    text-align: center;
    color: white;
    cursor: pointer;
    z-index: 2;
  }

  .sk-cube {
    width: (100% / 3);
    height: (100% / 3);
    background-color: #0080b3;
    float: left;
  }
}

.profile {
  width: calc(50vw - 46px);
  padding: 15px;

  .line {
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;

    h2 {
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
    }

    h2 {
      flex: 1 1 auto;
      margin: 0;
    }

    img {
      flex: 0 0 auto;
      height: 256px;
      width: 256px;
      object-fit: cover;
    }

  }
}

.table {
  max-height: 50vh;
  overflow-y: auto;

  .row {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    height: 80px;
    position: relative;
    padding: 5px;
    margin-bottom: 15px;

    img {
      object-fit: cover;
      position: absolute;
      left: 5px;
      top: 5px;
      width: 70px;
      height: 70px;
    }

    span {
      display: inline-block;
      font-size: 130%;
      font-weight: bold;
      line-height: 80px;
      vertical-align: middle;
      padding-left: 85px;
      white-space: nowrap;
      max-width: calc(100% - 85px - 50px);
      overflow-x: hidden;
      text-overflow: '...';
    }

  }
}

.migrate {
  position: fixed;
  width: 100px;
  bottom: 2px;
  right: calc(50vw - 70px);
  background: $blue;
  color: white;
  padding: 20px;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  top: calc(50% - 25px);
  right: 15px;

  input {
    display: none;
  }

  label {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 5px;
    margin-right: 0;
    background-color: $red;
    background-image: url('../assets/cross.svg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
  }
  
  input {
    display: none;
  }
  
  input + label:active, input:checked + label:active, input:checked + label {
    background-color: $green;
    background-image: url('../assets/check.svg');
  }
}

.sk-cube-grid.active {
  span {
    display: none;
  }

  .sk-cube {
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 

    .sk-cube1 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .sk-cube2 {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .sk-cube3 {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .sk-cube4 {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .sk-cube5 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .sk-cube6 {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .sk-cube7 {
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    .sk-cube8 {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .sk-cube9 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
  }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }
}
